In [1]:
import numpy as np
import pandas as pd
# The statistical module used to run chi square test
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')
csv1 = "Data/Behavioral_Risk_2011_clean.csv"

csv2 = "Data/CDC_STATE_System_E-Cigarette_Legislation_-_Tax.csv"

usage_df = pd.read_csv(csv1)
legis_df = pd.read_csv(csv2)
#usage_df.head()
legis_df.head()

,YEAR,Quarter,LocationAbbr,LocationDesc,TopicDesc,MeasureDesc,DataSource,ProvisionGroupDesc,ProvisionDesc,ProvisionValue,...,Comments,Enacted_Date,Effective_Date,GeoLocation,DisplayOrder,TopicTypeId,TopicId,MeasureId,ProvisionGroupID,ProvisionID
0,2016,2,VI,U.S. Virgin Islands,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,Percent Value,45,...,NaN,3/23/2016,NaN,"(18.335765, -64.896335)",3,LEG,1040LEG,1001ETR,10GRP,452
1,2019,4,OH,Ohio,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,E-Cigarette Tax,Yes,...,NaN,7/18/2019,10/17/2019,"(40.06021014100048, -82.40426005599966)",1,LEG,1040LEG,1001ETR,10GRP,450
2,2016,3,VI,U.S. Virgin Islands,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,Percent Value,45,...,NaN,3/23/2016,NaN,"(18.335765, -64.896335)",3,LEG,1040LEG,1001ETR,10GRP,452
3,2019,4,OH,Ohio,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,E-Cigarette Tax ($ each),0.01,...,NaN,7/18/2019,10/17/2019,"(40.06021014100048, -82.40426005599966)",2,LEG,1040LEG,1001ETR,10GRP,451
4,2019,4,OH,Ohio,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,Type of Tax,Per vapor volume,...,NaN,7/18/2019,10/17/2019,"(40.06021014100048, -82.40426005599966)",4,LEG,1040LEG,1001ETR,10GRP,453

In [8]:
legis_drop_df = legis_df[legis_df.ProvisionValue !="No Provision"]
legis_count_df = legis_drop_df.groupby(['LocationAbbr']).agg({'ProvisionGroupDesc':'count'})
legis_count_df.head()
legis_count_df

              ProvisionGroupDesc
LocationAbbr
CA                            42
CT                            12
DC                            60
DE                            33
IL                            15
KS                            45
KY                             4
LA                            63
MA                             6
ME                             9
MN                           123
NC                            66
NH                            12
NJ                            31
NM                            20
NV                             9
NY                            12
OH                            12
PA                            51
PR                            28
UT                             4
VA                             3
VI                            72
VT                            15
WA                            12
WI                            15
WV                            51
WY                             3

In [3]:
usage_clean_df = usage_df

usage_clean_df = usage_clean_df[usage_clean_df.MeasureDesc !="Frequency of Use"]
usage_clean_df = usage_clean_df[usage_clean_df.Gender !="Overall"]
usage_clean_df = usage_clean_df[usage_clean_df.Response !="Not Current"]
usage_clean_df = usage_clean_df[usage_clean_df.Response !="Former"]
usage_clean_df = usage_clean_df[usage_clean_df.Response !="Never"]

usage_clean_df = usage_clean_df[usage_clean_df.TopicDesc !="Cigarette Use_Adults"]
usage_clean_df = usage_clean_df[usage_clean_df.TopicDesc !="Smokeless Tobacco Use (Adults)"]
usage_clean_df = usage_clean_df[usage_clean_df.TopicDesc !="Cessation (Adults)"]

usagebystate_df = usage_clean_df.groupby(['LocationAbbr']).agg({'Data_Value':['mean']})
usagebystate_df.head()

             Data_Value
                   mean
LocationAbbr
AK            16.238182
AL            18.632000
AR            20.080000
AZ            13.526000
CA             9.780000

In [4]:
combo_df = legis_count_df.merge(usagebystate_df, left_on='LocationAbbr', right_on='LocationAbbr')

combo_df.sort_values(by='ProvisionGroupDesc', ascending=False)

              ProvisionGroupDesc  (Data_Value, mean)
LocationAbbr
MN                           123           13.434545
NC                            66           15.260000
LA                            63           18.501818
DC                            60           13.490000
WV                            51           23.570000
PA                            51           16.966000
KS                            45           16.046000
CA                            42            9.780000
DE                            33           14.847273
NJ                            31           12.482000
PR                            28            9.080000
NM                            20           15.454000
IL                            15           14.214000
WI                            15           14.698182
VT                            15           14.300000
WA                            12           13.036000
NH                            12           14.381818
CT                            12           11.790909
NY                            12           12.103636
OH                            12           18.281818
ME                             9           17.200000
NV                             9           15.122000
MA                             6           12.170909
KY                             4           22.698000
UT                             4            8.485455
VA                             3           14.249091
WY                             3           16.618182

In [5]:
usagebystate_df["Data_Value"].mean()
combo_df.sum()/combo_df.count()

ProvisionGroupDesc    28.000000
(Data_Value, mean)    14.750431
dtype: float64

In [6]:
print(usagebystate_df.count())
combo_df.count()

Data_Value  mean    53
dtype: int64

ProvisionGroupDesc    27
(Data_Value, mean)    27
dtype: int64

In [7]:
combo_df.columns = ["ProvisionGroupDesc", "Data Value Mean"]
usagebystate_df[1]=15.293602
combo_df["PGDexpected"]=28
combo_df["DVMexpected"]=14.750431
combo_df

              ProvisionGroupDesc  Data Value Mean  PGDexpected  DVMexpected
LocationAbbr
CA                            42         9.780000           28    14.750431
CT                            12        11.790909           28    14.750431
DC                            60        13.490000           28    14.750431
DE                            33        14.847273           28    14.750431
IL                            15        14.214000           28    14.750431
KS                            45        16.046000           28    14.750431
KY                             4        22.698000           28    14.750431
LA                            63        18.501818           28    14.750431
MA                             6        12.170909           28    14.750431
ME                             9        17.200000           28    14.750431
MN                           123        13.434545           28    14.750431
NC                            66        15.260000           28    14.750431
NH                            12        14.381818           28    14.750431
NJ                            31        12.482000           28    14.750431
NM                            20        15.454000           28    14.750431
NV                             9        15.122000           28    14.750431
NY                            12        12.103636           28    14.750431
OH                            12        18.281818           28    14.750431
PA                            51        16.966000           28    14.750431
PR                            28         9.080000           28    14.750431
UT                             4         8.485455           28    14.750431
VA                             3        14.249091           28    14.750431
VT                            15        14.300000           28    14.750431
WA                            12        13.036000           28    14.750431
WI                            15        14.698182           28    14.750431
WV                            51        23.570000           28    14.750431
WY                             3        16.618182           28    14.750431

In [8]:
usagebystate_df.columns = ["observed", "expected"]
usagebystate_df.head()

               observed   expected
LocationAbbr
AK            16.238182  15.293602
AL            18.632000  15.293602
AR            20.080000  15.293602
AZ            13.526000  15.293602
CA             9.780000  15.293602

In [9]:
# Calculate the critical value
critical_value = stats.chi2.ppf(q = 0.95, df = 52)
print(critical_value)
critical_value2 = stats.chi2.ppf(q = 0.95, df = 26)
print(critical_value2)

69.83216033984813
38.885138659830055

In [10]:
# Run the chi square test with stats.chisquare()
stats.chisquare(usagebystate_df['observed'], usagebystate_df['expected'])

Power_divergenceResult(statistic=32.84537048494395, pvalue=0.9825063033993281)

In [11]:
stats.chisquare(combo_df["ProvisionGroupDesc"], combo_df["PGDexpected"])

Power_divergenceResult(statistic=705.5, pvalue=5.091847168446258e-132)

In [13]:
stats.chisquare(combo_df["Data Value Mean"], combo_df["DVMexpected"])

Power_divergenceResult(statistic=21.37452826567397, pvalue=0.7223825374759835)