In [69]:
import numpy as np
import pandas as pd
# The statistical module used to run chi square test
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')
csv1 = "Data/Behavioral_Risk_2011_clean.csv"

csv2 = "Data/CDC_STATE_System_E-Cigarette_Legislation_-_Tax.csv"

usage_df = pd.read_csv(csv1)
legis_first_df = pd.read_csv(csv2)
#usage_df.head()
legis_df = legis_first_df.drop_duplicates(subset=['ProvisionID', 'Enacted_Date', 'Effective_Date', 'LocationAbbr'], keep='first')
legis_df

,YEAR,Quarter,LocationAbbr,LocationDesc,TopicDesc,MeasureDesc,DataSource,ProvisionGroupDesc,ProvisionDesc,ProvisionValue,...,Comments,Enacted_Date,Effective_Date,GeoLocation,DisplayOrder,TopicTypeId,TopicId,MeasureId,ProvisionGroupID,ProvisionID
0,2016,2,VI,U.S. Virgin Islands,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,Percent Value,45,...,NaN,3/23/2016,NaN,"(18.335765, -64.896335)",3,LEG,1040LEG,1001ETR,10GRP,452
1,2019,4,OH,Ohio,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,E-Cigarette Tax,Yes,...,NaN,7/18/2019,10/17/2019,"(40.06021014100048, -82.40426005599966)",1,LEG,1040LEG,1001ETR,10GRP,450
3,2019,4,OH,Ohio,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,E-Cigarette Tax ($ each),0.01,...,NaN,7/18/2019,10/17/2019,"(40.06021014100048, -82.40426005599966)",2,LEG,1040LEG,1001ETR,10GRP,451
4,2019,4,OH,Ohio,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,Type of Tax,Per vapor volume,...,NaN,7/18/2019,10/17/2019,"(40.06021014100048, -82.40426005599966)",4,LEG,1040LEG,1001ETR,10GRP,453
5,2017,3,VI,U.S. Virgin Islands,Legislation - E-Cigarette - Tax,Tax Stamp,OSH,Requirements,Encrypted Image/Hologram Required,No Provision,...,NaN,NaN,NaN,"(18.335765, -64.896335)",3,LEG,1040LEG,1023CET,12GRP,479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8421,2015,3,WV,West Virginia,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,E-Cigarette Tax ($ each),No Provision,...,NaN,NaN,NaN,"(38.66551020200046, -80.71264013499967)",2,LEG,1040LEG,1001ETR,10GRP,451
9077,2017,1,KS,Kansas,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,Type of Tax,Per milliliter of consumable material,...,E-Cigarettes are taxed at a rate of $0.20 per ...,6/16/2015,1/1/2017,"(38.34774030000045, -98.20078122699965)",4,LEG,1040LEG,1001ETR,10GRP,453
9299,2017,2,CA,California,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,Percent Value,27.3,...,NaN,10/31/2016,4/1/2017,"(37.63864012300047, -120.99999953799971)",3,LEG,1040LEG,1001ETR,10GRP,452
9585,2017,1,KS,Kansas,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,E-Cigarette Tax ($ each),0.2,...,E-Cigarettes are taxed at a rate of $0.20 per ...,6/16/2015,1/1/2017,"(38.34774030000045, -98.20078122699965)",2,LEG,1040LEG,1001ETR,10GRP,451
17677,2017,2,KS,Kansas,Legislation - E-Cigarette - Tax,E-Cigarette,OSH,Restrictions,E-Cigarette Tax,Yes,...,E-Cigarettes are taxed at a rate of $0.20 per ...,6/16/2015,1/1/2017,"(38.34774030000045, -98.20078122699965)",1,LEG,1040LEG,1001ETR,10GRP,450

In [70]:
legis_drop_df = legis_df[legis_df.ProvisionValue !="No Provision"]
legis_count_df = legis_drop_df.groupby(['LocationAbbr']).agg({'ProvisionGroupDesc':'count'})
legis_count_df.head()
legis_count_df

              ProvisionGroupDesc
LocationAbbr
CA                             5
CT                             3
DC                             6
DE                             3
IL                             3
KS                             6
KY                             4
LA                             3
MA                             3
ME                             3
MN                             4
NC                             3
NH                             4
NJ                             4
NM                             4
NV                             3
NY                             3
OH                             3
PA                             3
PR                             2
UT                             4
VA                             3
VI                             4
VT                             3
WA                             3
WI                             3
WV                             3
WY                             3

In [71]:
usage_clean_df = usage_df

usage_clean_df = usage_clean_df[usage_clean_df.MeasureDesc !="Frequency of Use"]
usage_clean_df = usage_clean_df[usage_clean_df.Gender !="Overall"]
usage_clean_df = usage_clean_df[usage_clean_df.Response !="Not Current"]
usage_clean_df = usage_clean_df[usage_clean_df.Response !="Former"]
usage_clean_df = usage_clean_df[usage_clean_df.Response !="Never"]

usage_clean_df = usage_clean_df[usage_clean_df.TopicDesc !="Cigarette Use_Adults"]
usage_clean_df = usage_clean_df[usage_clean_df.TopicDesc !="Smokeless Tobacco Use (Adults)"]
usage_clean_df = usage_clean_df[usage_clean_df.TopicDesc !="Cessation (Adults)"]

usagebystate_df = usage_clean_df.groupby(['LocationAbbr']).agg({'Data_Value':['mean']})
usagebystate_df.head()

             Data_Value
                   mean
LocationAbbr
AK            16.238182
AL            18.632000
AR            20.080000
AZ            13.526000
CA             9.780000

In [72]:
combo_df = legis_count_df.merge(usagebystate_df, left_on='LocationAbbr', right_on='LocationAbbr')

combo_df.sort_values(by='ProvisionGroupDesc', ascending=False)
combo_df.columns = ["ProvisionGroupDesc", "Data Value Mean"]
combo_df

              ProvisionGroupDesc  Data Value Mean
LocationAbbr
CA                             5         9.780000
CT                             3        11.790909
DC                             6        13.490000
DE                             3        14.847273
IL                             3        14.214000
KS                             6        16.046000
KY                             4        22.698000
LA                             3        18.501818
MA                             3        12.170909
ME                             3        17.200000
MN                             4        13.434545
NC                             3        15.260000
NH                             4        14.381818
NJ                             4        12.482000
NM                             4        15.454000
NV                             3        15.122000
NY                             3        12.103636
OH                             3        18.281818
PA                             3        16.966000
PR                             2         9.080000
UT                             4         8.485455
VA                             3        14.249091
VT                             3        14.300000
WA                             3        13.036000
WI                             3        14.698182
WV                             3        23.570000
WY                             3        16.618182

In [73]:
#first = combo_df.loc["CA"]
#second =  combo_df.loc["KS"]
#third = combo_df.loc["DC"]
#legist = pd.DataFrame(first, second, third)

legist = pd.DataFrame(combo_df, index = ['CA', 'KS', 'DC'])
legist

    ProvisionGroupDesc  Data Value Mean
CA                   5            9.780
KS                   6           16.046
DC                   6           13.490

In [79]:
combo_df.columns = ["ProvisionGroupDesc", "Data Value Mean"]
#usagebystate_df.columns = ["ProvisionGroupDesc", "Data Value Mean"]
legist.columns = ["ProvisionGroupDesc", "Data Value Mean"]

In [80]:
print(usagebystate_df["Data_Value"].mean())
print(combo_df["Data Value Mean"].mean())
print(legist["Data Value Mean"].mean())

mean    15.293602
dtype: float64
14.750430976430975
13.105333333333336

In [81]:
print(usagebystate_df.count())
print(combo_df.count())
print(legist.count())

Data_Value  mean    53
dtype: int64
ProvisionGroupDesc    27
Data Value Mean       27
dtype: int64
ProvisionGroupDesc    3
Data Value Mean       3
dtype: int64

In [83]:
#print(usagebystate_df["ProvisionGroupDesc"].mean())
print(combo_df["ProvisionGroupDesc"].mean())
print(legist["ProvisionGroupDesc"].mean())

3.4814814814814814
5.666666666666667

In [84]:
usagebystate_df[1]=15.293602
combo_df["PGDexpected"]=3.481481
combo_df["DVMexpected"]=14.750431
legist["PGDexpected"]=3.481481
legist["DVMexpected"]=13.105333333333336
combo_df

              ProvisionGroupDesc  Data Value Mean  PGDexpected  DVMexpected
LocationAbbr
CA                             5         9.780000     3.481481    14.750431
CT                             3        11.790909     3.481481    14.750431
DC                             6        13.490000     3.481481    14.750431
DE                             3        14.847273     3.481481    14.750431
IL                             3        14.214000     3.481481    14.750431
KS                             6        16.046000     3.481481    14.750431
KY                             4        22.698000     3.481481    14.750431
LA                             3        18.501818     3.481481    14.750431
MA                             3        12.170909     3.481481    14.750431
ME                             3        17.200000     3.481481    14.750431
MN                             4        13.434545     3.481481    14.750431
NC                             3        15.260000     3.481481    14.750431
NH                             4        14.381818     3.481481    14.750431
NJ                             4        12.482000     3.481481    14.750431
NM                             4        15.454000     3.481481    14.750431
NV                             3        15.122000     3.481481    14.750431
NY                             3        12.103636     3.481481    14.750431
OH                             3        18.281818     3.481481    14.750431
PA                             3        16.966000     3.481481    14.750431
PR                             2         9.080000     3.481481    14.750431
UT                             4         8.485455     3.481481    14.750431
VA                             3        14.249091     3.481481    14.750431
VT                             3        14.300000     3.481481    14.750431
WA                             3        13.036000     3.481481    14.750431
WI                             3        14.698182     3.481481    14.750431
WV                             3        23.570000     3.481481    14.750431
WY                             3        16.618182     3.481481    14.750431

In [88]:
legist

    ProvisionGroupDesc  Data Value Mean  PGDexpected  DVMexpected
CA                   5            9.780     3.481481    13.105333
KS                   6           16.046     3.481481    13.105333
DC                   6           13.490     3.481481    13.105333

In [89]:
usagebystate_df.columns = ["observed", "expected"]
usagebystate_df.head()

               observed   expected
LocationAbbr
AK            16.238182  15.293602
AL            18.632000  15.293602
AR            20.080000  15.293602
AZ            13.526000  15.293602
CA             9.780000  15.293602

In [90]:
# Calculate the critical value
critical_value = stats.chi2.ppf(q = 0.95, df = 52)
print(critical_value)
critical_value2 = stats.chi2.ppf(q = 0.95, df = 26)
print(critical_value2)
critical_value3 = stats.chi2.ppf(q = 0.95, df = 2)
print(critical_value3)

69.83216033984813
38.885138659830055
5.991464547107979

In [91]:
# Run the chi square test with stats.chisquare()
stats.chisquare(usagebystate_df['observed'], usagebystate_df['expected'])

Power_divergenceResult(statistic=32.84537048494395, pvalue=0.9825063033993281)

In [92]:
stats.chisquare(combo_df["ProvisionGroupDesc"], combo_df["PGDexpected"])

Power_divergenceResult(statistic=6.5319157969688755, pvalue=0.9999617733308138)

In [93]:
stats.chisquare(combo_df["Data Value Mean"], combo_df["DVMexpected"])

Power_divergenceResult(statistic=21.37452826567397, pvalue=0.7223825374759835)

In [94]:
stats.chisquare(legist["ProvisionGroupDesc"], legist["PGDexpected"])

Power_divergenceResult(statistic=4.306148980874232, pvalue=0.11612657831333027)

In [95]:
stats.chisquare(legist["Data Value Mean"], legist["DVMexpected"])

Power_divergenceResult(statistic=1.5149046698545119, pvalue=0.46885940343862686)